.loading {
  animation: opacity 1s linear infinite alternate;
  height: 100vh;
  padding: 0 12px;
  width: 320px;

  .select {
    background-color: #fff;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 12px;
    width: 100%;
  }

  .datepicker {
    text-align: center;

    .year {
      background: #fff;
      border-radius: 10px;
      display: inline-block;
      height: 18px;
      margin: 14px 0 5px 0;
      width: 100px;
    }

    .weekday,
    .day {
      background: #fff;
      border-radius: 50%;
      display: inline-block;
      height: 12px;
      margin: 12px 15px;
      width: 12px;
    }

    .day {
      opacity: .5;
    }
  }
}
